#next {
    padding: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
}
#back {
    padding: 20px;
    background-color: green;
    color: white;
    font-size: 20px;
}
#outer
{
    width:100%;
}
.inner
{
    display: inline-block;
}
#questionary {
    margin-left: 10px;
}
#answ1 {
    margin-left: 5px;
    font-size: 20px;
}
#answ2 {
    margin-left: 5px;
    font-size: 20px;
}
#answ3 {
    margin-left: 5px;
    font-size: 20px;
}
#answ4 {
    margin-left: 5px;
    font-size: 20px;
    
}
.radioBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 30px;
}
.container {
    background-color: rgb(224, 222, 222);
}
:first-of-type.container {
    margin-bottom: 2px;
    margin-top: 40px;
}
:last-of-type.container {
    margin-top: 2px;
}